<a href="https://colab.research.google.com/github/yusufrozimemet/Full-Stack-Data-Science-Pro/blob/main/PythonBasics%20/ForLoop_lambda_Map_Reduce_Filter_Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = 500
price=450
if price<=500:

SyntaxError: ignored

In [5]:
a = 500
price=450
if price<=500:
  pass

In [6]:
a = 500
price=450
if price<=500:
  print("yes I will be able to buy")

yes I will be able to buy

In [7]:
a = 500
price=450
if price<=500:
print("yes I will be able to buy")

IndentationError: ignored

In [9]:
a = 500
price=850
if price<=500:
  print("yes I will be able to buy")
else :
  print("I wont be able to buy")

I wont be able to buy

In [17]:
a = 500
shirt=199
pants=499
coat=799
if coat<500:
  print("I will be able to buy coat")
elif pants<500:
  print("I will be able to buy pants")
elif shirt<200:
  print("I will be able to buy shirt")
else :
  print("I wont be able to buy")

I will be able to buy pants

In [23]:
a = 500
shirt=200
pants=500
coat=800
my_size ="M"
size_store = ["L","M","S","XXL","XXXL"]
if coat<500:
  print("I will be able to buy coat")
elif pants<500:
  print("I will be able to buy pants")
elif shirt<500:
  print("It's avaiable under my budget")
  if my_size==size_store:
     print("I will be able to buy shirt")
else :
  print("I wont be able to buy")

It's avaiable under my budget

In [25]:
a = 500
shirt=200
pants=500
coat=800
my_size ="S"
size_store = ["L","M","XXL","XXXL"]
if coat<500:
  print("I will be able to buy coat")
elif pants<500:
  print("I will be able to buy pants")
elif shirt<500:
  print("It's avaiable under my budget")
  if my_size in size_store:
     print("I will be able to buy shirt")
  else:
     print("my size is not avaiable")
else :
  print("I wont be able to buy")

It's avaiable under my budget
my size is not avaiable

In [30]:
a = 500
shirt=200
pants=500
coat=800
my_size ="M"
size_store = ["L","M","XXL","XXXL"]
my_fav_clr = 'white'
store_clr = [ 'red' , 'blue','orange']
if coat<500:
  print("I will be able to buy coat")
elif pants<500:
  print("I will be able to buy pants")
elif shirt<500:
  print("It's avaiable under my budget")
  if my_size in size_store:
     print("I will be able to buy shirt")
     if my_fav_clr in store_clr:
            print("yes i will try to choose it ")
     else :
            print("my fav clr is not available i will move to another store")
  else:
     print("my size is not avaiable")
else :
  print("I wont be able to buy")

It's avaiable under my budget
I will be able to buy shirt
my fav clr is not available i will move to another store

In [32]:
course = ['DSM', 'DSA','java' , 'big data' , 'DA']
price= 20000
mentor = "mentor1"
if "DSM" in course and price ==20000 and "mentor1"==mentor:
  print("yes I am doing this course")

yes I am doing this course

In [33]:
course_price=20000

if 10000 <= course_price <=15000:
  print("I will try to buy a course")

else :
  print ("its out of my budget")

its out of my budget

In [34]:
user_name="ysf"
password="ysf0880"

if user_name == input("enter your username") and password == input ("enter your password"):
  print("you hae loged in succesfully")

else:
  print("enter correct username and password")

enter your usernameysf
enter your passwordysf8
enter correct username and password

In [35]:
mobile_no = 123456
otp = 1234
if mobile_no == int(input("enter your registered mo no")):
    print("yes you are a registered user")
    if otp == int(input("enter otp that we have sent on your mo no")):
        print("you have logged in succefully")
    else :
        print("otp is not correct please try to enter again")
else :
    print("you have not entered a valid mo no")

enter your registered mo no7877
you have not entered a valid mo no

In [37]:
l=[3,3,4,5,6,7,8,8,9]

for i in l:
  print(i)

3
3
4
5
6
7
8
8
9

In [38]:
l= [12,3,3,4,5,6,6]
mobile_no = [2343243,3543534,45654646,23432,345345,345343]
stud_mo = 23432
stud_details = {'mobile_no' : 23432 ,'course' : ['dsa' , 'dsm' , 'big data']}

for i in mobile_no:
    print(i)
    if i == stud_mo:
        print("yes user is registered")
        if i == stud_details['mobile_no']:
            print("yes student details are avaible in DB ")
            print("course accessed to this user is " , stud_details['course'])

2343243
3543534
45654646
23432
yes user is registered
yes student details are avaible in DB
course accessed to this user is  ['dsa', 'dsm', 'big data']
345345
345343

In [46]:
t=(1,2,3,4,5,6,"ysp","rozi")
l_int =[]
l_str = []
for i in t:
  if type(i) == str:
    l_str.append(i)
  elif type(i)==int:
    l_int.append(i)
print(l_int)
print(l_str)

[1, 2, 3, 4, 5, 6]
['ysp', 'rozi']

In [47]:
d = {"name":"sudh" , 'class' :["big data" , "data analytics","data science " , "DSA" , "architecture", "system design"],
'mobile no' : 345353453, "email_id":'sskumari787y@gmail.com'}

In [48]:
d

{'name': 'sudh',
 'class': ['big data',
  'data analytics',
  'data science ',
  'DSA',
  'architecture',
  'system design'],
 'mobile no': 345353453,
 'email_id': 'sskumari787y@gmail.com'}

In [50]:
d.values()

dict_values(['sudh', ['big data', 'data analytics', 'data science ', 'DSA', 'architecture', 'system design'], 345353453, 'sskumari787y@gmail.com'])

In [51]:
for i in d.values():
  if type(i)==list and "system design" in i:
    print("yes, this mentor teach system design")

yes, this mentor teach system design

In [52]:
for i in d.values():
  if type(i) == list:
    for j in i:
      print(j)

big data
data analytics
data science
DSA
architecture
system design