<a href="https://colab.research.google.com/github/yusufrozimemet/Full-Stack-Data-Science-Pro/blob/main/PythonBasics%20/Lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
number = -10
if number > 0:
  print("positive number")
elif number ==0:
  print("zero")
else:
  print("negative number")
print("thanks for using!")

negative number
thanks for using!

In [3]:
for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
days=0
week=["monday","tuesday","wednesday","thursday", "friday","saturday","sunday"]

while days<7:
  print("today is "+ week[days])
  days +=1
  #days = days+1

today is monday
today is tuesday
today is wednesday
today is thursday
today is friday
today is saturday
today is sunday

In [5]:
week[0]

'monday'

In [6]:
#split()
text = "I write code"
text.split()

['I', 'write', 'code']

In [7]:
text=" I love python"
text.split()

['I', 'love', 'python']

In [8]:
x = input("enter 3 words message")

enter 3 words messagewelcome to the netherlands

In [9]:
x.split()

['welcome', 'to', 'the', 'netherlands']

In [11]:
word1,word2,word3,word4 =x.split()

In [12]:
word1

'welcome'

In [13]:
word3

'the'

In [15]:
a =int(input("enter 1st number "))
b = int(input("enter 2nd number "))
print(a+b)

enter 1st number 3
enter 2nd number 5
8

In [18]:
a,b =input("enter two numbers ").split()
c = int(a) +int(b)
print(c)

enter two numbers 8 8
16

In [19]:
 s1 ="a b c d e f"
 print(s1.split(" ",5))

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
 print(s1.split(" ",2))

['a', 'b', 'c d e f']

In [22]:
s1 ="Hi@Hi@Hi@Hi@Hi"
s1.split("@",4)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [32]:
for letter in "hello world":
  if letter == "w":
   break
  print(letter)

h
e
l
l
o

In [33]:
for i in range(5):
  if i ==3:
    break
  print(i)

0
1
2

In [34]:
list(range(5))

[0, 1, 2, 3, 4]

In [37]:
i =1

while i <=10:
  print(i)

  if i >=5:
    break
  i +=1

1
2
3
4
5

In [43]:
numbers = [10, 20, 30 , 40, 50]

for i in numbers:
  if i>30:
    break
  print(i)

10
20
30

In [49]:
s = "hello, world"
for char in s:
  print(char)

  if char ==",":
    break

h
e
l
l
o
,

In [3]:
for letter in "hello world":
  if letter == "w":
    continue
  print(letter)

h
e
l
l
o

o
r
l
d

In [4]:
for letter in "hello world":
  if letter == "w":
    break
  print(letter)

h
e
l
l
o

In [8]:
# When i is 0, 1, 2: It prints the value of i.
# When i is 3: The continue statement is executed, so it skips printing for this iteration.
# When i is 4: It prints the value of i.
# When i is 5: The break statement is executed, so the loop terminates, and the code stops running.

for i in range(10):
  if i==3:
    continue
  elif i==5:
      break
  print(i)

0
1
2
4

In [11]:
# print odd numbers
for i in range (1,12):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11

In [13]:
n = 11

if n > 10:
  pass

print("hello")

hello

n = 11: Assigns the value 11 to the variable n.

if n > 10:: Checks whether the value of n is greater than 10. In this case, it is true (11 > 10), so the code inside the if block is executed.

pass: The pass statement in Python is a no-operation statement. It is a placeholder that does nothing. In this context, it serves as a syntactic requirement for having a code block after an if statement. If you don't want to execute any specific code when the condition is true, you can use pass to avoid a syntax error.

print("hello"): This line is not part of the if block; it will be executed regardless of whether the condition in the if statement is true or false. It prints the string "hello" to the console.

In [14]:
if n>10:
  print("hello")

hello

In [20]:
for i in range(5):
  pass
  print("hello")

hello
hello
hello
hello
hello

#Functions

In [21]:
def add_numb(a,b):
  return a+b

In [22]:
a=10
b=20

In [24]:
add_numb(a,b)

30

In [ ]:
def functionName(arguments):
    # function body
    # you can include some code here

    return

In this template, you replace "functionName" with the desired name for your function, and you can add the necessary code inside the function body. The "arguments" placeholder represents any input parameters that your function may take. If your function doesn't require any arguments, you can leave the parentheses empty.

In [25]:
def greet():
  print("hello world")

In [26]:
greet()

hello world

In [27]:
result = greet()
print(result)  # This will print: None

hello world
None

In this case, greet() is called, but since the function doesn't have an explicit return statement, it returns None, and that's what gets assigned to the variable result.

In [28]:
def addnum():
  a=200
  b=400
  c=a+b
  print(c)

In [29]:
addnum()

600

In [32]:
def addnum():
  a=input("enter first number ")
  b= input ("enter second number ")
  c= int(a)+int(b)
  print(c)

In [33]:
addnum()

enter first number 10
enter second number 0
10

In [38]:
def mulnum(a,b):
  c= a*b
  print(c)

In [39]:
mulnum(10,20)

200

In [48]:
def introducntion(name):
  print("Hi", name)

In [49]:
introducntion("Yusuf")

Hi Yusuf

In [58]:
def introduction(name,surname):
  print("Hi",name+surname)

In [59]:
introduction("Yusuf","Rozi")

Hi YusufRozi

In [60]:
def abs(n):
  if n>0:
    print(n)
  else:
    print(-n)

In [61]:
abs(-5)

5

In [67]:
def fullname(a,b):
   c=a+b
   return

In [68]:
fullname("yusuf","rozi")

In [77]:
def fullname_return(a,b):
   c=a+b
   return c

In [79]:
x=fullname_return("yusuf","rozi")

In [80]:
x

'yusufrozi'

In [81]:
def fullname_print(a,b):
   c=a+b
   print(c)

In [82]:
x=fullname_print("yusuf","rozi")

yusufrozi

In [83]:
x

In [84]:
type(x)

NoneType

Key Difference:

The first version (fullname_return) returns the result, allowing you to use the calculated full name in other parts of your code.
The second version (fullname_print) prints the result directly but doesn't allow you to capture the result for further use in the program.

In [85]:
def calculator(a,b):
  c=a+b
  d=a-b
  e=a*b
  return c,d,e

In [86]:
calculator(3,4)

(7, -1, 12)

In [87]:
 def calculator():
  a = int(input("1st number"))
  b = int(input("2nd number"))
  sum = a+b
  substract = a-b
  divide = a//b
  return sum, substract, divide

In [89]:
x=calculator()

1st number4
2nd number5

In [91]:
x

(9, -1, 0)

In [90]:
type(x)

tuple

In [92]:
def area(radius):
  return 3.14*radius*radius

In [93]:
area(4)

50.24

In [94]:
def area_rec(a,b):
  area= a*b
  return area

In [95]:
area_rec(3,4)

12

In [98]:
def area_tri(a,b):
  area=0.5*a*b
  return area

In [99]:
area_tri(3,4)

6.0

In [8]:
def fullname():
  name=input("enter your name: ")
  surname=input("enter your surname: ")
  print(name,surname)

In [9]:
fullname()

enter your name: yusuf
enter your surname: rozi
yusuf rozi