<a href="https://colab.research.google.com/github/yusufrozimemet/Full-Stack-Data-Science-Pro/blob/main/PythonBasics%20/Python_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
number = -10
if number > 0:
  print("positive number")
elif number ==0:
  print("zero")
else:
  print("negative number")
print("thanks for using!")

negative number
thanks for using!

In [3]:
for i in range(5):
  print(i)

0
1
2
3
4

In [4]:
days=0
week=["monday","tuesday","wednesday","thursday", "friday","saturday","sunday"]

while days<7:
  print("today is "+ week[days])
  days +=1
  #days = days+1

today is monday
today is tuesday
today is wednesday
today is thursday
today is friday
today is saturday
today is sunday

In [5]:
week[0]

'monday'

In [6]:
#split()
text = "I write code"
text.split()

['I', 'write', 'code']

In [7]:
text=" I love python"
text.split()

['I', 'love', 'python']

In [8]:
x = input("enter 3 words message")

enter 3 words messagewelcome to the netherlands

In [9]:
x.split()

['welcome', 'to', 'the', 'netherlands']

In [11]:
word1,word2,word3,word4 =x.split()

In [12]:
word1

'welcome'

In [13]:
word3

'the'

In [15]:
a =int(input("enter 1st number "))
b = int(input("enter 2nd number "))
print(a+b)

enter 1st number 3
enter 2nd number 5
8

In [18]:
a,b =input("enter two numbers ").split()
c = int(a) +int(b)
print(c)

enter two numbers 8 8
16

In [19]:
 s1 ="a b c d e f"
 print(s1.split(" ",5))

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
 print(s1.split(" ",2))

['a', 'b', 'c d e f']

In [22]:
s1 ="Hi@Hi@Hi@Hi@Hi"
s1.split("@",4)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [32]:
for letter in "hello world":
  if letter == "w":
   break
  print(letter)

h
e
l
l
o

In [33]:
for i in range(5):
  if i ==3:
    break
  print(i)

0
1
2

In [34]:
list(range(5))

[0, 1, 2, 3, 4]

In [37]:
i =1

while i <=10:
  print(i)

  if i >=5:
    break
  i +=1

1
2
3
4
5

In [43]:
numbers = [10, 20, 30 , 40, 50]

for i in numbers:
  if i>30:
    break
  print(i)

10
20
30

In [49]:
s = "hello, world"
for char in s:
  print(char)

  if char ==",":
    break

h
e
l
l
o
,

In [3]:
for letter in "hello world":
  if letter == "w":
    continue
  print(letter)

h
e
l
l
o

o
r
l
d

In [4]:
for letter in "hello world":
  if letter == "w":
    break
  print(letter)

h
e
l
l
o

In [8]:
# When i is 0, 1, 2: It prints the value of i.
# When i is 3: The continue statement is executed, so it skips printing for this iteration.
# When i is 4: It prints the value of i.
# When i is 5: The break statement is executed, so the loop terminates, and the code stops running.

for i in range(10):
  if i==3:
    continue
  elif i==5:
      break
  print(i)

0
1
2
4

In [11]:
# print odd numbers
for i in range (1,12):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11

In [13]:
n = 11

if n > 10:
  pass

print("hello")

hello

n = 11: Assigns the value 11 to the variable n.

if n > 10:: Checks whether the value of n is greater than 10. In this case, it is true (11 > 10), so the code inside the if block is executed.

pass: The pass statement in Python is a no-operation statement. It is a placeholder that does nothing. In this context, it serves as a syntactic requirement for having a code block after an if statement. If you don't want to execute any specific code when the condition is true, you can use pass to avoid a syntax error.

print("hello"): This line is not part of the if block; it will be executed regardless of whether the condition in the if statement is true or false. It prints the string "hello" to the console.

In [14]:
if n>10:
  print("hello")

hello

In [20]:
for i in range(5):
  pass
  print("hello")

hello
hello
hello
hello
hello